<div id="home_image">
<strong><%= @first_reading.body.html_safe %></strong>

<% if current_user %> 
    <%= link_to "Daily Writing", "/writings/new", :onclick=>"window.open(this.href,'/writings/new', 'height=700, width=800');return false;" %>
<% end %>

</div>