<div id="home_image">
    <div id="home_reading">
        
        
       <H1>Today - People are grateful for:</H1> 
        
       <% @gratitudes.each do |gratitude| %>
          <%= gratitude.entry %> - 
        <% end %>
          
       <br><br>
        <br>
        
   <h2><%= link_to 'SHARE GRATITUDE TODAY', new_gratitude_path %></h2>  
         <br><br>

    </div>
</div>