<div id="home_image">
    <div id="home_reading">
        
        
       <H1>Today - People are grateful for:</H1> 
        
       <% @gratitudes.each do |gratitude| %>
          <%= gratitude.entry %> - 
        <% end %>
          
       <br><br>
        
        
        
    

        Take a moment and close your eyes. See yourself floating in a great sea of light.
         <br><br>
        Feel the Energy that created you, at work in your life, and see the "boundaries" that define you melt away.
         <br><br>
        Allow your energy to commingle with the energy of the Universe.
         <br><br>
        Know it is all ONE THING...
         <br><br>

    </div>
</div>