

<div id="home_reading">

    <h1>LIFE IS SHORT - Share some gratitude - Anything big or small that come to mind...</h1>

    <%= render 'form', gratitude: @gratitude %>

    <%= link_to 'Back', gratitudes_path %>
    
</div>
