

<div id="home_reading">

    <h1>LIFE IS SHORT - Share some gratitude <br><br>
        
        - Anything big or small that come to mind, try for 3...</h1>

    <%= render 'form', gratitude: @gratitude %>

    <%= link_to 'Back', gratitudes_path %>
    
</div>
