// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home_image {
    height: 1000px;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),image-url("man1.jpg");
    background-size:cover;
    background-position: center center; 
}