// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home_image {
    height: 1000px;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),image-url("morning_coffee.jpg");
    background-size:cover;
    background-position: center center; 
    margin-top: -11px;
}

#home_reading {
    margin: 10px 33px;
    padding-top: 20px;
}

#user_images {
    display: block;
}

#each_image {
    float: left;
    width: 33%;
    height: 370px;
    margin-bottom: 20px;
}